p,a{
    color: green;
}

li{
    list-style-type: square;
}
.special{
    color: orange;
    font-weight: bold;
}
#first{
    color: rgb(145, 93, 25);
}
li em{
    color: rebeccapurple;
}
a:hover{
    color: saddlebrown;
    text-decoration: none  ;
}
body h1+p .special{
    color: yellow;
    background-color: black;
    padding: 5px;
}