.box {

    margin: 10px;
    width: auto;
    background-color: rgb(181, 181, 129);
    border-radius: 5px;
    height: 100px;
    padding: 8px;
}

.user {
    float: left;
    width: 75px;
    height: 75px;
    margin: 10px;
    border-radius: 5px;
}

.box2 {
    padding: 8px;
    margin: 10px;
    width: auto;
    background-color: rgb(149, 161, 195);
    border-radius: 5px;
    height: 100px;
}

.user1 {
    float: right;
    width: 75px;
    height: 75px;
    margin: 10px;
    border-radius: 5px;
}